################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ParallelFileReadApp/.vs/ParallelFileReadApp
/ParallelFileReadApp/ParallelFileReadApp/obj
